@tailwind base;
@tailwind components;
@tailwind utilities;

/* Untuk perangkat dengan lebar layar kurang dari atau sama dengan 640px (misalnya, perangkat mobile) */
@media (max-width: 640px) {
  .min-h-screen {
    /* Set tinggi sesuai kebutuhan pada perangkat mobile */
    min-height: auto;
  }

  .flex {
    /* Mengubah tata letak menjadi kolom di perangkat mobile */
    flex-direction: column;
  }

  .items-center {
    /* Pusatkan item-item di tengah secara vertikal pada perangkat mobile */
    align-items: center;
  }

  .justify-center {
    /* Pusatkan item-item di tengah secara horizontal pada perangkat mobile */
    justify-content: center;
  }

  .max-w-md {
    /* Atur lebar maksimum menjadi lebih kecil pada perangkat mobile */
    max-width: 90%;
  }

  .mr-4 {
    /* Hapus margin kanan pada elemen pertama di perangkat mobile */
    margin-right: 0;
  }
}
